# OS metadata
.DS_Store
Thumbs.db
desktop.ini

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.tmp

# Editor directories
.vscode/
.idea/
*.swp
*.swo

# Local archives
*.zip
*.tar.gz

# Raw screenshots folder
quiz_app_img/
